<div #main class="main">
  <div #canvasDiv style="text-align: center">
    <canvas #canvas class="beforeImg"></canvas>
  </div>
  <div #bottom class="fixed-bottom">
    <div class="row no-gutters">
      <div class="col-md-1 col-6">
        <input
          [value]="color"
          [style.background]="color"
          [cpAlphaChannel]="'disabled'"
          [(colorPicker)]="color"
          (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
          (colorPickerClose)="onEventLog('colorPickerClose', $event)"
          (cpInputChange)="onEventLog('cpInputChange', $event)"
          (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
          (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
          class="form-control"
          [style.color]="colorValue"
        />
      </div>
      <div class="form-outline col-md-1 col-6">
        <input
          #lineThicknessInput
          type="number"
          value="4"
          min="0"
          class="form-control"
          (change)="onChangeLineThickness(lineThicknessInput)"
        />
      </div>
      <div class="col-md-3">
        <input
          #imageInput
          class="form-control"
          accept="image/*"
          type="file"
          (change)="onLoad(imageInput)"
        />
      </div>
      <div class="col-md-2 col-sm-9">
        <input
          #inputName
          class="form-control"
          type="text"
          (change)="onChangeName($event)"
          placeholder="File name"
        />
      </div>
      <div class="col-md-1 col-sm-3">
        <button #buttonSave (click)="onSave()" class="btn btn-primary">
          Save
        </button>
        <a #saver></a>
      </div>
      <div class="col-md-3 col-sm-9">
        <input
          class="form-control"
          type="text"
          (change)="onChangeUrl($event)"
          placeholder="Destination URL"
        />
      </div>
      <div class="col-md-1 col-sm-3">
        <button #button (click)="onUpload()" class="btn btn-primary">
          Upload
        </button>
      </div>
    </div>
  </div>
</div>
